.bookmark.bookmark.bookmark.bookmark {
  font-size: 16px;
  padding: 0;
  margin-bottom: 16px;
  color: $green;

  @media (min-width: $screen-ms-min) {
    float: right;
    // margin: 32px 0 0 0;
  }

  &:hover,
  &:focus,
  &:active {
    color: $green;
  }
}

.container {
  display: flex;
  justify-content: space-between;
}

.ref.ref {
  margin: 24px 0 0 0;
  color: $black;

  @media (min-width: $screen-ms-min) {
    float: left;
    margin-bottom: 24px;
  }
}

.left {
  display: flex;
  align-items: center;
}

.flagOrder {
  background-color: #d73a49;
  color: #ffffff;
  padding: 0.25rem 2rem;
  border-radius: 100px;
  border: none;
  font-size: 1.5rem;
  margin-left: 2rem;
}
