.container {
  padding: 40px 0 35px;
  background-image: url('/img/Newsletter_background.png');
  background-position: 0 20%;
  background-repeat: no-repeat;
  color: #fff;

  @media (min-width: $screen-sm-min) {
    background-size: 300%;
    padding-bottom: 50px;
  }

  @media (min-width: $screen-md-min) {
    background-size: 100%;
    padding-bottom: 60px;
  }

  h2 {
    margin: 0 0 6px 0;
    font-size: 25px;

    @media (min-width: $screen-md-min) {
      font-size: 36px;
    }
  }

  h3 {
    margin: 0;
    font-size: 14px;

    @media (min-width: $screen-md-min) {
      font-size: 18px;
    }
  }

  .subtitle {
    font-size: 16px;
    font-weight: bold;
  }
}

.input.input.input.input {
  margin-top: 60px;
  padding: 0 0 15px 0;
  font-size: 12px;
  color: #fff;
  background-color: transparent !important;

  @media (min-width: $screen-sm-min) {
    margin-top: 75px;
  }

  &::-webkit-input-placeholder {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    background-color: transparent !important;
  }

  &::-moz-placeholder {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    background-color: transparent !important;
  }

  &:-ms-input-placeholder {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    background-color: transparent !important;
  }

  &:-moz-placeholder {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    background-color: transparent !important;
  }
}

form {
  background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-transition-delay: 9999s;
   transition-delay: 9999s;
}



.btn.btn.btn {
  @media (min-width: $screen-sm-min) {
    position: absolute;
    bottom: 29px;
    right: 0;
    margin: 0;
    padding: 7px 15px;
  }
}

.message {
  p {
    font-size: 14px;
    margin: 0;
  }
}

.group {
  @media (min-width: $screen-lg-min) {
    padding: 0 100px;

    .btn.btn.btn {
      right: 100px;
    }
  }
}
